appsettings.json
appsettings.Development.json
*.pem
*.crt
*.key
*.pfx
*.cert
*.log
*.bak
*.swp
*~
*.tmp
google-services.json
awscredentials.json
.env
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.vs/
.idea/
.Rider/
bin/
obj/
*.user
*.userosscache
*.suo
*.userprefs
*.cab
*.msi
*.msm
*.msp
Thumbs.db
ehthumbs.db
*.userprefs
